.page__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.img__container {
  display: flex;
  width: 61vh;
  height: 25%;
  overflow: scroll;
}
.img__container--small {
  display: flex;
  width: 20.3vh;
  height: 100%;
  overflow: scroll;
}
.img__container--small::-webkit-scrollbar {
  display: none;
}
.img__container::-webkit-scrollbar {
  display: none;
}

.txt__container {
  display: flex;
  width: 100vw;
  height: 50%;
  background: #fff;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0;
  font-size: 1.2rem;
}
.big__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -500;
}

.txt__container::-webkit-scrollbar {
  display: none;
}
.txt__container > h1 {
  margin-top: 2%;
}
.txt__container > h1,
h2 {
  padding: 0 2%;
}
.txt__container > p {
  margin: 1% 2%;
  font-size: 1.2rem;
}
.img__cover {
  width: fit-content;
  height: fit-content;
  transition: all 1s ease-out;
}
.img__cover--bottom {
  width: 100vw;
  height: fit-content;
  transition: all 1s ease-out;
}
.img__cover--fs {
  position: absolute;
  z-index: 3;
  min-height: 100vh;
  transition: all 1s ease-out;
}
.pocetna {
  height: 100vh;
}
.bg__img {
  background-size: 150vw 100vh;
  animation-name: bg_move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  position: absolute;
  height: 107.5vh;
  right: -65%;
  z-index: 1;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
.pocetna::-webkit-scrollbar {
  display: none;
}
.bg__img::-webkit-scrollbar {
  display: none;
}
.img__close {
  position: fixed;
  font-size: 3rem;
  color: #fff;
  top: 2%;
  left: 5%;
  z-index: 1000;
}

@keyframes bg_move {
  0% {
    transform: translateX(0);
    animation-timing-function: linear;
  }
  25% {
    transform: translateX(-200px);
    animation-timing-function: linear;
  }
  50% {
    transform: translateX(0px);
    animation-timing-function: linear;
  }
  75% {
    transform: translateX(200px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: linear;
  }
}

.uvod__text {
  position: absolute;
  z-index: 5;
  font-size: 1.5rem;
  top: 50%;
  text-align: center;
  width: 45%;
  font-family: "Times New Roman", Times, serif;
  border-style: solid;
  border-radius: 20px;
  background: #faea8d;
}
.foto__gallery--bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email__input {
  width: 450px;
  height: 100px;
  font-size: 1.8rem;
  border-radius: 50px;
}
.email__button {
  width: 250px;
  height: 100px;
  font-size: 1.8rem;
  border-radius: 50px;
  margin: 5% 0;
}
.img__grb--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 20%;
  right: 20%;
}
.img__grb {
  height: 200px;
  width: 200px;
  will-change: transform;
}
.txt__running {
  background: #faea8d;
  height: 70px;
  font-size: 3rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.txt__running--wrapper1 {
  width: 40%;
  position: absolute;
  z-index: 2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.txt__running--wrapper2 {
  width: 105%;
  position: absolute;
  z-index: 2;
  bottom: 12%;
}
.small__img {
  position: absolute;
  width: 60%;
  z-index: 2;
  top: 8%;
  left: 5%;
}
.small__img--2 {
  position: absolute;
  width: 25%;
  z-index: 2;
  bottom: 23%;
  left: 10%;
}
.text__area {
  width: 100vh;
  overflow: hidden;
}

.img__container--upoznaj {
  display: flex;
  width: auto;
  height: 40%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.img__cover--upoznaj {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt__container__upoznaj {
  width: 100vw;
  height: 40%;
  background: hsla(51, 92%, 77%, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0;
  font-size: 1.2rem;

  overflow: hidden;
  align-items: center;
}
.txt__container__upoznaj::-webkit-scrollbar {
  display: none;
}
.content__container::-webkit-scrollbar {
  display: none;
}

.upoznaj__btn--left {
  position: absolute;
  bottom: 10%;
  left: 2%;
  margin-right: 10px;
  width: 100px;
  height: 200px;
  border-style: solid;
  border-width: 100px 100px 100px 0;
  background-color: transparent;
  border-color: transparent #007bff79 transparent transparent;
  z-index: 3;
}
.upoznaj__btn--right {
  position: absolute;
  bottom: 10%;
  right: 2%;
  margin-left: 10px;
  width: 100px;
  height: 200px;
  border-style: solid;
  border-width: 100px 0 100px 100px;
  border-color: transparent transparent transparent #b96000bb;
  background-color: transparent;
  z-index: 3;
}
.upoznaj__header {
  background: rgba(255, 255, 255, 0.719);
  height: 8%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 15%;
  overflow: hidden;
  padding-top: 20px;
}
.content__container {
  min-height: 75%;
  overflow: hidden;
}
.upoznaj__txt {
  width: 60vw;
  height: 150px;
  background: rgba(255, 255, 255, 0.719);
  display: flex;
  padding: 0 0;
  font-size: 1.2rem;

  border-style: solid;
  overflow: hidden;
}
.upoznaj__img__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upoznaj__content {
  min-height: 59%;
  overflow: hidden;
  background: linear-gradient(
    rgba(255, 255, 255, 0.719),
    rgba(250, 234, 142, 0.808)
  );
}
.upoznaj__img {
  display: flex;
  width: 200px;
  height: 150px;

  border-style: solid;
}
.galerija__container {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 1045px;
  overflow: scroll;
  background: linear-gradient(
    rgba(255, 255, 255, 0.719),
    rgba(250, 234, 142, 0.808)
  );
}
.galerija__container::-webkit-scrollbar {
  display: none;
}
.galerija__img {
  min-width: 1080px;
  min-height: 1137px;
}
.footer__container {
  background: linear-gradient(
    rgba(250, 234, 142, 0.808),
    rgba(151, 141, 86, 0.808) 90%
  );
  height: 5%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100 vw;
  overflow: hidden;
  padding-top: 20px;
}
